<div class="d-flex flex-column align-items-center justify-content-center">
    <%= image_tag "user-pp.png", class: "img-thumbnail rounded-circle border border-2 border-primary", style: "width: 3.5rem" %>
    <small style="max-width: 4.5rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis"><%= current_user.username%></small>
</div>