<div class="container d-flex justify-content-center align-items-center", style="min-height: 20rem">
  <%= image_tag user.profile_pic.attached? ? user.profile_pic : 'user-pp.png', class: "img-thumbnail rounded-circle w-25", style: "max-width: 8rem; max-height:8rem" %>

  <div class="w-75 d-flex flex-column gap-4">
    <div class="d-flex gap-3 align-items-center">
      
    </div>
  </div>
</div>